//
@import "../base/variables_mixins";

.btn {
  line-height: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: $btn-c;
  background-color: $btn-bg;

  width: 5em;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: none;

  @include bord-radius(0.5rem);

  &:hover {
    color: $btn-c-hov;
    background-color: $btn-bg-hov;
  }
}

.active {
  color: $btn-c-active;
  border: 2px solid $btn-b-active;
}

// * media queries
@include mq(tablet-up) {
  .btn {
    margin: 1rem 0.5rem;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: auto 20%;
  }
}