//
@import "./variables_mixins";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: $base-bg;
  box-sizing: border-box;
  height: 80vh;
  text-align: center;
  font-size: 14.67px;
  font-weight: 300;
  color: $base-c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.25em;
  text-transform: capitalize;
}

// * components

.page {
  margin: 10em 0;
}

.container {
  padding: 100px auto;
}

.title {
  margin: 3em auto;
  text-align: center;
}

#time {
  margin: 0 20%;
  padding: 0.25em;
  border: 2px solid $time-bord;
  font-size: 1.5rem;
  text-transform: lowercase;
  color: $timer-c;
}


// * media queries

@include mq(phone-only) {
  #time {
    margin: 0 5%;
  }
}

@include mq(tablet-up) {
  #time {
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
    margin: 5%;
  }
  
}

@include mq(desktop-up) {

  h1 {
    font-size: 3.5rem;
    margin: 10%;
  }

  #time {
    font-size: 2.5rem;
  }

  .title {
    margin: 3em 20%;
  }
}
