// * Variables

// colors

$base-c: #2b2929;
$base-bg: #f1eeee;
$time-bord: rgb(78, 75, 75);
$timer-c: rgb(114, 85, 85);

$btn-c: rgb(236, 228, 228);
$btn-bg: rgb(161, 158, 158);
$btn-c-active: rgb(192, 176, 176);
$btn-b-active: rgb(85, 76, 76);


$btn-c-hov: rgb(61, 58, 58);
$btn-bg-hov: #fff;

// * Mixins

@mixin bord-radius($br) {
  border-radius: $br;
  -webkit-border-radius: $br;
  -moz-border-radius: $br;
  -ms-border-radius: $br;
  -o-border-radius: $br;
}


// * media queries
// queue of media queries: should be the same order as in the mixin
@mixin mq($screen) {
  @if $screen==phone-only {
    @media (max-width: 500px) {
      @content;
    }
  }

  @else if $screen==tablet-up {
    @media (min-width: 501px) {
      @content;
    }
  }

  @else if $screen==desktop-up {
    @media (min-width: 1000px) {
      @content;
    }
  }
}